<h1 class="text-center mt-3">Benvenuti in questo spike!</h1>
<div class="container mt-5">
    
    <form>
        <div class="form-group">
            <label for="upload">Carica file</label>
            <input type="file" class="form-control" id="upload" (change)="onChange($event)">
        </div>
        <button (click)="onUpload()" type="upload" class="btn btn-success">Submit</button>
    </form>

    
    <div class="container" *ngIf="loading">
        <h3>Loading ...</h3>
    </div>


    <img *ngFor="let img of images" [src]="img.path">
</div>

<div>
    <form #searchh="ngForm" (submit)="search(searchh)">
        <label for="cerca">cerca per nome file</label>
        <input type="search" class="form-control" id="nome" name="nome" [ngModel]="nome?.nome" placeholder="cerca immgine">
        <button type="submit">cerca</button>
    </form>
    <img *ngFor="let img2 of images2" [src]="img2.path">
   
</div>




<!-- <img src="https://acadesteamfilestorage.blob.core.windows.net/filecontainer/8mmaFjrr.png" alt="">
 https://acadesteamfilestorage.blob.core.windows.net/filecontainer/8mmaFjrr.png -->
















<!-- <div>
    <table>
        <tr>
            <td><input type="file" (change)="imageSelected($event.target.files[0])"></td>
        </tr>
        <tr>
            <td> Insert SAS:</td>
            <td><input type="text" (change)="setSas($event)" size="90"></td>
        </tr>
        <tr>
            <td>Current SAS:</td>
            <td>{{sas}}</td>
        </tr>
    </table>
    <table>
        <tr *ngFor="let pic of picturesList" >
            <td>{{pic}}</td>
            <td><button (click)="downloadImage(pic)"> download </button></td>
        </tr>
    </table>
</div>  -->