<div class="container mt-5">
    <form>
        <div class="form-group">
            <label for="upload">Carica file</label>
            <input type="file" class="form-control" id="upload" (change)="onChange($event)">
        </div>
        <button (click)="onUpload()" type="upload" class="btn btn-success">Submit</button>
    </form>

    <div class="container text-center jumbotron" *ngIf="shortLink">
        <h2> Visit Here</h2>
        <a href="{{shortLink}}">{{shortLink}}</a>
    </div>

    <div class="container" *ngIf="loading">
        <h3>Loading ...</h3>
    </div>
</div>